<div id="messages" class="alert {{status}}" ng-show="messages" ng-bind="messages"></div>

<h1>Contact me</h1>
<p>I'm happy to answer any questions you have or provide you with an estimate.</p>
<p>Just send me a message in the form below.</p>

<form name="contactForm">

  <div class="form-group" ng-class="{'has-error': contactForm.name.$invalid && !contactForm.name.$pristine}">
    <label class="control-label" for="name">Your Name</label>
    <span ng-show="contactForm.name.$error.required && !contactForm.name.$pristine" class="label label-danger">Required</span>
    <input type="text" name="name" ng-model="name" class="form-control" required />
  </div>

  <div class="form-group" ng-class="{'has-error': contactForm.email.$invalid && !contactForm.email.$pristine}">
    <label class="control-label" for="email">Your Email</label>
    <span ng-show="contactForm.email.$error.required && !contactForm.email.$pristine" class="label label-danger">Required</span>
    <span ng-show="contactForm.$error.email" class="label label-danger">Invalid email</span>
    <input type="email" name="email" ng-model="email" class="form-control" required />
  </div>

  <div class="form-group" ng-class="{'has-error': contactForm.message.$invalid && !contactForm.message.$pristine}">
    <label class="control-label" for="message">Your Message</label>
    <span ng-show="contactForm.message.$error.required && !contactForm.message.$pristine" class="label label-danger">Required</span>
    <textarea name="message" ng-model="message" class="form-control" required style="min-height: 150px;"></textarea>
  </div>
  
  <a href="#/" class="btn btn-default">Cancel</a>
  <button ng-click="submit(contactForm)" ng-disabled="contactForm.$invalid"
          class="btn btn-primary">Submit</button>
  
</form>
